body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
}

.button {
	margin: 0;
	padding: 0;
	display: inline-block;
	}


.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.photo-about {
	background-image: url("../img/background-img.jpg");
	height: 510px;
	background-repeat: no-repeat;
}	




.promo {
  text-align: center;
 
 }

.promo-description-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 60px; 
  padding-bottom: 38px;
}

.promo .promo-description-reasons {
	color: #333333;
}

.features-item-descr {
	color: #333333;
}

.features-item-blue .features-item-descr {
	color: #ffffff;
}

.features-item-blue {
  color: #ffffff;
  background-color:  #81b3d2;
}

.features-item-info{
  text-align: center;	
}

.features-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features-item-number::after,
.features-item-number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 2px;
  background: #c2d9e8;
  margin-top: -2px;
}

.features-item-gray .features-item-number::after,
.features-item-gray .features-item-number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 2px;
  background: #333333;
  margin-top: -2px;
}

.features-item-number::before {
  margin-right: 6px;
}

.features-item-number::after {
  margin-left: 6px;
}

.sort-up-down {
   display: flex;
   list-style: none;
   margin: 0 0 0 auto;
   padding: 0;
 }

 .sort-up-down li {
 	margin-right: 12px;
 }

 .sort-up-down li:last-child {
 	margin-right: 0;
 }

.sort-up-down a {
   font-size: 0;
   display: block;
   height: 0px;
   width: 0px;
   border-left: 5.5px solid transparent;
   border-right: 5.5px solid transparent;
   border-bottom: 0 solid rgba(0,0,0, 0.3);
   border-top: 0 solid rgba(0,0,0, 0.3);
}

.sort-up a {
	border-bottom-width: 11px;
}

.sort-down a {
	border-top-width: 11px;
}

.sort-up-down a:hover,
.sort-up-down a:focus {
	border-bottom-color: #231f20;
	border-top-color: #231f20;
}



.sort-up-down a:active {
	border-bottom-color: #81b3d2;
	border-top-color: #81b3d2;
}

.sort-up-down .active:not(:hover) {
	border-bottom-color: #81b3d2;
	border-top-color:  #81b3d2;
}



.features-item-titles {
  background-color: #ffffff;
  text-align: center;
}

.features-item-gray{
  
  text-align: center;
 } 




}

h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.button-search {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

 
}

.button-search:hover,
.button-search:focus {
  background-color: #604e43; 
}
.button-search:active {
  background-color: #503e33;  
  color: #928a85;
}
















.hotel-hotel a {
  color: #766357;
}

.filter fieldset {
  border: none;

}

.filters {
  background-color: #b3d0e4;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}


.living,
.infrastr,
.sort-list,
.sort-up-down{
 list-style: none;
}


.filter legend {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.filter label {
  color: #ffffff;
  font-weight: 400;
}

.sort-find {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}



.sort-list {
  font-size: 12px;
  line-height: 18px; 
}

.sorts {
  font-size: 12px;
  line-height: 18px; 
}

.sort-item {
    border-bottom: 1px dotted #81b3d2;
    color: rgba(0,0,0, 0.3);
}


.price {
  color: #81b3d2;
  border-bottom: 0px;
}

.sort-item:hover,
.sort-item:focus {
            border-bottom: 1px dotted #81b3d2;
            color: #81b3d2;
}

.sort-item:active {
            border-bottom: 0px;
            color: #000000;
}

.hotel-name a {
  color: #000000;
  display: block;
} 

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}


.hotel-type,
.hotel-price {
  color: #333333;
}

.hotel-rating {
  background-color: #f2f2f2;
}

.hotel-links a {
  font: inherit;
  padding: 3px 17px 4px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 700;

 
  border: none;
}



.button-detail {
 background-color: #81b3d2;
}


.button-book {
    background-color: #766357;
  
}

.button-detail:hover,
.button-detail:focus {
background-color: #669ec0;
}

.button-detail:active {
  background: #5496bd;
  color: #88b6d1;
}



.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;  
  color: #928a85;
}

.hotel-rating {
  color: #666666;
}










.main-footer ul {
  list-style: none;
}

.visitsedona {
  
  font-size: 21px;
  font-weight: 700;
}





.visually-hidden {
	display: none;
}


/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1200px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
  position: relative;
  padding: 0 72px;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -69px;
  z-index: 100;
}


.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 17px 0;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}


.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.promo {
	
	padding: 57px 0;
}

.promo-description-title {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.promo-description-reasons{
	margin: 0;
}






.features-item-blue {
	display: flex;
	margin: 0;
}

.features-item-info {
  text-align: center;
  display: flex;
  padding: 47px 50px;
  flex-direction: column;
  width: 400px;
  }

.features-item-photo {
  display: flex;
}

 .item-gray {
 	display: flex;
 	background: #f2f2f2;
 }

 .features-item-gray {
 	width: 400px;
 	display: flex;
 	flex-direction: column;
 	 padding: 47px 60px;
 }

.features-item-title {
   margin: 0;	
   margin-bottom: 27px; /*Временно*/
}



.features-item-number {
  margin: 0 0 27px; /*Временно*/
}

.features-item-descr{
  margin: 0 ; /*Временно*/
}


.features-item-titles img {
	margin-bottom: 30px;
}

.features-item-titles {
	display: flex;

}


.features-items {
	width: 400px;
	padding: 60px 50px;
}


 

.interest p {
	color: #333333;
}

.interest {
  text-align: center;
}	  


 .interest {
 	padding-top: 51px; 
 }

 .interest h2 {
 	margin: 0;
 	margin-bottom: 27px;
 }

 .interest p {
 	margin: 0;
 	margin-bottom: 48px;
 }

 .button-search {
 	padding: 33px 140px;
 }

 
label {
  font-weight: 700;
}






    







 .modal {
 	background-color: #ffffff;
 	color: #000000;

 }

 .modal-search {
 	color: #000000;
 	width: 460px;
 	padding: 57px 55px;
 	top: 45px;
 	left: 50%;
 	margin-left: 315px;
 	
 }

 .dates p {
 	margin: 0;
 	margin-bottom: 30px;
 }

 .old-child p {
 	margin-bottom: 55px;
 }

.search-form input[type="text"] {
 	background: #f2f2f2;
 	border-color: #f2f2f2;
 }


 .search-form input[type="text"]:hover {
 	background: #ebebeb;
 	border-color: #ebebeb;
 }

 .search-form input[type="text"]:focus {
  background: none;
 }

 .date {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;

 }

 .dates input[type="text"] {
 	font: inherit;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	border: 0;


 	box-sizing: border-box;
 	width: 346px;
 	padding: 6px 15px;
 	padding-right: 40px;
 }

 .old-child input[type="text"] {
 	font: inherit;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	border: 0;
 	padding: 0;


 	box-sizing: border-box;
 	width: 38px;
 	height: 38px;
 	text-align: center;
 } 

 .old-child input[type="button"] {
 	box-sizing: border-box;
 	width: 38px;
 	height: 38px;



 	background: #f2f2f2;
 	padding: 0;
 	border: 0;
 	outline: none;
 }


.old-child [type="button"] {
  color:  #a9a9a9;
  
}

.old-child [type="button"]:hover,
.old-child [type="button"]:focus {
  color: #000000;
}



 .visitors {
 	display: flex;
 	align-items: center;
 	
 }


 .olds {
 	margin-right: 40px;
 }

 .childs {
 	margin-left: 57px;
 	margin-right: 28px;
 }


.search-form [type="submit"] {    
  background: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 16px 193px;
}

.search-form [type="submit"]:hover,
.search-form [type="submit"]:focus {
  background: #669ec0; 
}

.search-form [type="submit"]:active {
  background: #5496bd;
  color: #88b6d1;
}     





.map p {
  margin: 0;
}

.map img {
   display: block;	
}


.map {
  display: flex;
  justify-content: center;
  margin-bottom: -120px;
}



.filter-checkbox {
	display: flex;
	align-items: center;
}

.filter-checkbox img {
	display: block;
	margin-right: 13px;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator:focus {
	border-color: #663d15;
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
}

.filter fieldset {
  border: none;
  margin: 0;
  padding: 0 10px 0 0;
  width: 245px;
}



.filters {
	padding: 28px 72px;	
}

.filter {
	display: flex;
}




.infrastr,
.living {
	margin: 0;
	padding: 0;
}

.filter-fieldset {
	margin-right: 115px;
}



.filter .price-range-wrap {
	margin-left: auto;
	margin-right: 0;
	padding-right: 0;
	width: 318px;
}

.filter-fieldset legend {
	padding: 0;
	margin-bottom: 25px;
}

.filter-fieldset li {
	margin-bottom: 25px;
}

.filter-fieldset li:last-child {
	margin: 0;
}

.sort {
	display: flex;
	align-items: baseline;
    padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}	

 .sort-find {
  margin: 0;
  width: 182px;
 
}

.sort-list {
	display: flex;
	width: 650px;
	margin: 0;
	padding: 0;
}




.sorts {
	margin-right: 40px;
}

.sort-list li {
	margin-right: 35px; 
}

.sort-list li:last-child {
	margin-right: 0;
}








.hotel {
	display: flex;
	padding: 32px 72px;
	
	border-bottom: 1px solid #e5e5e5;
	

}



.hotel-img img {
	display: block;
}	

.hotel-img {
	margin-right: 30px;
}

	


.hotel-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-name {
	margin: -4px 0 0px;
	font-size: 21px;
    line-height: 26px;
    font-weight: 700;
   }

  .hotel-type-price {
  	margin: 0;
  	
  }


.hotel-links {
	display: flex;
	margin: 0;
}

.button-detail {
	margin-right: 6px;
}

.hotel-type-price {
	display: flex;	
}

.hotel-type {
	margin: 0;
	width: 111px;
	margin-right: 6px;
}

.hotel-quality {
	display: flex;
	flex-direction: column;
	margin-left: auto; 
	justify-content: space-between;
}

.hotel-rating {
margin: 0;	
padding: 3px 14px;
color: #666666;
}





.main-footer {
	display: flex;
	padding: 35px 0;
	align-items: center;
	position: relative;
	background: rgba(255,255,255,0.9);
	
}

.visitsedona {
	margin: 0;
	text-align: center;
    width: 400px;
}

.social-button {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #81b3d2;
  margin-right: 7px;
  
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}



.footer-social {
  margin: 0;
  padding: 0;	
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  width: 400px;
  justify-content: center;
}



.footer-copyright {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 400px;
	margin: 0;
}

.footer-copyright span {
	margin-right: 10px;
}


.footer-copyright a:hover path,
.footer-copyright a:focus path {
	fill:  #81b3d2;
}


.footer-copyright a:active path {
	fill: rgba(0,0,0, 0.3);

}

.footer-copyright svg {
	display: block;
}

.hotel-star  {
	margin: 0;
	display: flex;
	justify-content: flex-end;
	
}

.hotel-star svg {
	margin-left: 5px;
}

