body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
}

.button {
	margin: 0;
	padding: 0;
	display: inline-block;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;
  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.photo-about {
  background-color: #b3d0e4;
	background-image: url("../img/background-img.jpg");
	height: 510px;
	background-repeat: no-repeat;
}	

.promo {
  text-align: center;
}

.promo-description-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 60px; 
  padding-bottom: 38px;
}

.promo .promo-description-reasons {
	color: #333333;
}

.features-item-descr {
	color: inherit;
  margin: 0;
}

.features-item-blue .features-item-descr {
	color: #ffffff;
}

.features-item-blue {
  color: #ffffff;
  background-color:  #81b3d2;
}


.features-item-info{
  text-align: center;	
}

.features-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features-item-number::after,
.features-item-number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 2px;
  background: #c2d9e8;
  margin-top: -2px;
}

.features-item-gray .features-item-number::after,
.features-item-gray .features-item-number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 2px;
  background: #333333;
  margin-top: -2px;
}

.features-item-number::before {
  margin-right: 6px;
}

.features-item-number::after {
  margin-left: 6px;
}

.sort-up-down {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
}

.sort-up-down li {
 	margin-right: 12px;
}

.sort-up-down li:last-child {
 	margin-right: 0;
}

.sort-up-down a {
  font-size: 0;
  display: block;
  height: 0px;
  width: 0px;
  border-left: 5.5px solid transparent;
  border-right: 5.5px solid transparent;
  border-bottom: 0 solid rgba(0,0,0, 0.3);
  border-top: 0 solid rgba(0,0,0, 0.3);
}

.sort-up a {
	border-bottom-width: 11px;
}

.sort-down a {
	border-top-width: 11px;
}

.sort-up-down a:hover,
.sort-up-down a:focus {
	border-bottom-color: #231f20;
	border-top-color: #231f20;
}

.sort-up-down a:active {
	border-bottom-color: #81b3d2;
	border-top-color: #81b3d2;
}

.sort-up-down .active:not(:hover) {
	border-bottom-color: #81b3d2;
	border-top-color:  #81b3d2;
}

.features-item-titles {
  background-color: #ffffff;
  text-align: center;
}

.features-item-gray{
  text-align: center;
} 

h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.button-search {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  outline: none;
}

.button-search:hover,
.button-search:focus {
  background-color: #604e43; 
}

.button-search:active {
  background-color: #503e33;  
  color: #928a85;
}

.hotel-hotel a {
  color: #766357;
}

.filter fieldset {
  border: none;
}

.filters {
  background-color: #b3d0e4;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.living,
.infrastr,
.sort-list,
.sort-up-down{
 list-style: none;
}

.filter legend {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

.filter label {
  color: #ffffff;
  font-weight: 400;
}

.sort-find {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.sort-list {
  font-size: 12px;
  line-height: 18px; 
}

.sorts {
  font-size: 12px;
  line-height: 18px; 
}

.sort-item {
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0,0,0, 0.3);
}

.price {
  color: #81b3d2;
  border-bottom: 0px;
}

.sort-item:hover,
.sort-item:focus {
  border-bottom: 1px dotted #81b3d2;
  color: #81b3d2;
}

.sort-item:active {
  border-bottom: 0px;
  color: #000000;
}

.hotel-name a {
  color: #000000;
  display: block;
} 

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-type,
.hotel-price {
  color: #333333;
}

.hotel-rating {
  background-color: #f2f2f2;
}

.hotel-links a {
  font: inherit;
  padding: 3px 17px 4px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 700;
  border: none;
}

.button-detail {
 background-color: #81b3d2;
}

.button-book {
  background-color: #766357;
}

.button-detail:hover,
.button-detail:focus {
  background-color: #669ec0;
}

.button-detail:active {
  background: #5496bd;
  color: #88b6d1;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;  
  color: #928a85;
}

.hotel-rating {
  color: #666666;
}



.main-footer ul {
  list-style: none;
}

.visitsedona {
  font-size: 21px;
  font-weight: 700;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

	display: none;
}


/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1200px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
  position: relative;
  padding: 0 72px;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -69px;
  z-index: 100;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 17px 0;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.site-navigation li:nth-child(4) {
  margin-left: 33px;
}

.photo-about {
  position: relative;
  box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 75px;
}	

.photo-about img {
	display: block;
}

.welcome {
	margin-bottom: 11px;
}

.gorgeous {
	margin-bottom: 53px;
}

.sedona {
	margin-bottom: 55px;
}

.photo-about::after {
  content: "";
  background: url(../img/mask.png);
  position: absolute;
  height: 57px; 
  width:1200px;
  left: 0;
  bottom: 0;
  background-repeat: no-repeat;
}

.promo {
  padding: 59px 0 53px;
  max-width: 500px;
  margin: 0 auto;
}

.promo-description-title {
	margin: 0;
	margin-bottom: 30px;
	padding: 0;
}

.promo-description-reasons{
	margin: 0;
}






.features-item-blue {
	display: flex;
	margin: 0;
}

.features-item-info {
  text-align: center;
  display: flex;
  padding: 47px 50px;
  flex-direction: column;
  width: 400px;
}

.features-item-photo {
  display: flex;
}

.item-gray {
 .item-gray {
 	display: flex;
 	background: #f2f2f2;
}

.features-item-gray h3 {
    font-size: 21px;
    padding: 0;
    margin: 0 auto 24px;
    width: 120px;
}

.features-item-gray {
 	width: 400px;
 	display: flex;
 	flex-direction: column;
 	 padding: 47px 60px 59px;
}

.features-item-title {
   margin: 0 auto 24px;
   max-width: 152px;
   width: 100%;	
 .features-item-gray {
 	width: 400px;
 	display: flex;
 	flex-direction: column;
 	 padding: 47px 60px;
 }

.features-item-title {
   margin: 0;	
   margin-bottom: 27px; /*Временно*/
}

.features-item-number {
  margin: 0 0 21px; 
  margin: 0 0 27px; /*Временно*/
}

.features-item-descr{
  margin: 0 ; /*Временно*/
}


.features-items {
	width: 400px;
	padding: 162px 50px 82px;
}

.features-item-titles {
	display: flex;
}


.features-items {
	width: 400px;
	padding: 60px 50px;
}


 

.interest p {
	color: #333333;
}

.interest {
 	padding-top: 51px; 
 	position: relative;
  text-align: center;
  margin: 0;
}

.interest h2 {
  font-size: 30px;
  line-height: 36px;
 	margin: 0;
 	margin-bottom: 24px;
}

.modal {
  display: block;
  animation: bounce 1s;
}

.modal-show {
  display: none;
}

.dates {
 	margin-bottom: 46px;
  line-height: 24px;
}

.button-search {
 	padding: 31px 30px;
}

 .interest h2 {
 	margin: 0;
 	margin-bottom: 27px;
 }

 .interest p {
 	margin: 0;
 	margin-bottom: 48px;
 }

 .button-search {
 	padding: 33px 140px;
 }

label {
  font-weight: 700;
}

@keyframes bounce {
  40% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-40px);
  }

  40% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal {
 	background-color: #ffffff;
 	color: #000000;

 }

 .modal-search {
 	color: #000000;
 	width: 458px;
 	padding: 55px 55px;
 	top: 100%;
 	left: 50%;
 	margin-left: -284px;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
}

input::-webkit-input-placeholder {
    color:#000000;
}
input::-moz-placeholder {
    color:#000000;
    opacity: 1;
}

input:-ms-input-placeholder {
    color:#000000;
}


 .dates p {
 	margin: 0;
 	margin-bottom: 30px;
 }

 .old-child p {
 	margin-bottom: 55px;
 }

.search-form input[type="text"] {
 	background: #f2f2f2;
 	border-color: #f2f2f2;
}

.search-form input[type="text"]:hover {
 	background: #ebebeb;
 	border-color: #ebebeb;
}

 .search-form input[type="text"]:focus {
  background: none;
  outline: none;
  border: 2px solid #ebebeb;
}

.date {
 	position: relative;
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	flex-wrap: wrap;
  margin: 0;
  margin-bottom: 29px;
}

.search-calendar {
 	border: 0;
 	padding: 0;
 	background: none;
 	position: absolute;
 	width: 21px;
 	height: 22px;
 	top: 50%;
 	margin-top: -11px;
 	right: 9px;
}

.search-calendar svg {
 	display: block;
 	width: 100%;
 	height: 100%;
 	fill: #a9a9a9;
}

.search-calendar:hover svg {
 	fill: #000000;
}

.search-calendar:focus svg {
 	fill: #81b3d2;
}

.date label{
 	width: 100px;
  text-align: left;
  line-height: 26px;
  letter-spacing: 0.02em;
}


 .dates input[type="text"] {
 	font: inherit;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	border: 0;
  box-sizing: border-box;
 	width: 346px;
 	padding: 6px 15px;
 	padding-right: 40px;
  height: 38px;
}


 .old-child input[type="text"] {
 	font: inherit;
 	line-height: 26px;
 	font-weight: 700;
 	text-transform: uppercase;
 	border: 0;
 	padding: 0;
	box-sizing: border-box;
 	width: 38px;
 	height: 38px;
 	text-align: center;
} 

.old-child input[type="button"] {
 	box-sizing: border-box;
 	width: 38px;
 	height: 38px;




.old-child [type="button"] {
  color:  #a9a9a9;
  
}

.old-child [type="button"]:hover,
.old-child [type="button"]:focus {
  color: #000000;
}
