body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.container {
  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: 700;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.photo-about {
	background-image: url("../img/background-img.jpg");
	height: 510px;
	background-repeat: no-repeat;
}	




.promo {
  text-align: center;
  height: 220px;
 }

.promo-description-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  padding-top: 60px; 
  padding-bottom: 38px;
}

.features-item-blue {
  color: #ffffff;
  background-color:  #81b3d2;
}

.features-item-info{
  text-align: center;	
}

.features-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.features-item-number::after,
.features-item-number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 2px;
  background: #c2d9e8;
  margin-top: -2px;
}

.features-item-gray .features-item-number::after,
.features-item-gray .features-item-number::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 9px;
  height: 2px;
  background: #333333;
  margin-top: -2px;
}

.features-item-number::before {
  margin-right: 6px;
}

.features-item-number::after {
  margin-left: 6px;
}


.features-item-titles {
  background-color: #ffffff;
  text-align: center;
}

.item-gray{
  background-color: #f2f2f2;
  text-align: center;
 } 






.interest,
.search {
  text-align: center;
  background-color: #ffffff;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.button-search {
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;

 
}

.button-search:hover,
.button-search:focus {
  background-color: #604e43; 
}
.button-search:active {
  background-color: #503e33;  
  color: #928a85;
}

label {
  font-weight: 700;
}

.search-form input {
  font: inherit;
  height: 34px;
  background: #f2f2f2;
  border: 2px solid #f2f2f2;
  font-weight: 700;
  line-height: 34px;
  color: #000000;
  text-transform: uppercase;
  outline: none;
}

.search-form input:hover {
  background: #ebebeb;
  border-color: #ebebeb;
  color: #000000;
}

.search-form [type="text"]:focus {
  background: none;
  border-color: #e5e5e5;
}
    


.search-form [type="button"] {
  color:  #a9a9a9;
  
}

.search-form [type="button"]:hover,
.search-form [type="button"]:focus {
  color: #000000;
}

.visitors [type="button"]:active {
  color:  #81b3d2;
}

.search-form [type="submit"] {    
  background: #81b3d2;
  border: none;
  color: #ffffff;
  font-size: 21px;
  line-height: 58px;
  font-weight: 700;
}

.search-form [type="submit"]:hover,
.search-form [type="submit"]:focus {
  background: #669ec0; 
}

.search-form [type="submit"]:active {
  background: #5496bd;
  color: #88b6d1;
}     

.map {
  background-color: #ffffff;
}















.hotel-hotel a {
  color: #766357;
}

.filter fieldset {
  border: none;
}

.filters {
  background-color: #b3d0e4;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}


.living,
.infrastr,
.sort-list,
.sort-up-down{
 list-style: none;
}


.filter legend {
  color: #ffffff;
  font-weight: 700;
}

label {
  color: #ffffff;
}

.sort-find {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}



.sort-list {
  font-size: 12px;
  line-height: 18px; 
}

.sorts {
  font-size: 12px;
  line-height: 18px; 
}

.sort-item  span {
    border-bottom: 1px dotted #81b3d2;
    color: rgba(0,0,0, 0.3);
}


.price span {
  color: #81b3d2;
  border-bottom: 0px;
}

.sort-item:hover span,
.sort-item:focus span {
            border-bottom: 1px dotted #81b3d2;
            color: #81b3d2;
}

.sort-item:active span {
            border-bottom: 0px;
            color: #000000;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
} 

.hotel-name a:hover,
.hotel-name a:focus {
  color: #81b3d2;
}

.hotel-name a:active {
  color: rgba(0, 0, 0, 0.3);
}


.hotel-type,
.hotel-price {
  color: #333333;
}

.hotel-rating {
  background-color: #f2f2f2;
}

.button-detail {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 700;

  background-color: #81b3d2;
  border: none;
}

.button-detail:hover,
.button-detail:focus {
background-color: #669ec0;
}

.button-detail:active {
  background: #5496bd;
  color: #88b6d1;
}

.button-book {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  font-weight: 700;

  background-color: #766357;
  border: none;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  background-color: #503e33;  
  color: #928a85;
}

.hotel-rating {
  color: #666666;
}








.main-footer {
  background-color: #ffffff;
}  

.main-footer ul {
  list-style: none;
}

.visitsedona {
  
  font-size: 21px;
  font-weight: 700;
}





.visually-hidden {
	display: none;
}


/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1122px;
  min-height: 933px;
}

.container {
	width: 1200px;
	margin: 0 auto;
}

.main-navigation {
  position: relative;
  padding: 0 72px;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 70px;
  left: 50%;
  margin-left: -69px;
  z-index: 100;
}


.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  padding: 17px 0;
}

.site-navigation li {
  width: 20%;
}

.site-navigation li:nth-child(2) {
  margin-right: auto;
}


.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
  text-align: right;
}

.promo {
	display: flex;
	margin: 0;
	flex-direction: column;
	min-height: 215px;
}

.promo-description-title {
	margin: 58px 0 26px;
	padding: 0;
}

.promo-description-reasons{
	margin: 0;
	padding: 0;
	color: #333333;
}






.features-item-blue {
	display: flex;
	height: 255px;
	margin: 0;
}

.features-item-info{
  text-align: center;
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 400px;
  
}


.features-item-title {
   margin-top: 47px;
   margin-bottom: 27px; /*Временно*/
}


.features-item-number {
  margin: 0 0 27px; /*Временно*/
}

.features-item-descr{
  margin: 0 ; /*Временно*/
}




.features-item-titles {
	display: flex;
	justify-content: space-between;
	height:  333px;
	margin: 0;
    padding: 0;

}

.features-items .features-item-title {
	margin-top: 162px;
	margin-bottom: 28px;
}




 .item-gray {
 	display: flex;
 	margin: 0;
    padding: 0;
 	height: 255px;
 }

 .features-item-gray {
 	width: 400px;
 	display: flex;
 	flex-direction: column;

 }



 .interest {
 	min-height: 292px;
 }

 .interest h2 {
 	margin-top: 55px;
 	margin-bottom: 30px;
 }

 .interest p {
 	margin: 0;
 	margin-bottom: 55px;
 }

 .button-search {
 	padding: 33px 140px;
 }


.map {
  background-color: #ffffff;
  text-align: center;
}

.map p {
  margin: 0;
}





.filter fieldset {
  border: none;
  margin: 0;
  padding: 0;
}



.filter {
	display: flex;
	margin: 0 73px;	
}






.infrastr,
.living {
	min-height: 220px;
	width: 220px;
	margin: 0;
	padding: 0;
}

.price-range {
	min-height: 220px;
	width: 320px;
}





.sort {
	display: flex;
	align-items: center;
    padding: 30px 72px;
	border-bottom: 1px solid #e5e5e5;
}	

 .sort-find {
  margin: 0;
  width: 182px;
 
}

.sort-list {
	display: flex;
	width: 650px;
	margin: 0;
	padding: 0;
}



.sort-item {
	padding-left: 35px;
}

.price {
	padding-left: 40px;
	
}





.sort-up-down {
  margin: 0 0 0 auto;
  padding: 0;
  height: 11px;
  background: green;
  overflow: hidden;
}






.hotel {
	display: flex;
	padding: 0 72px;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	min-height: 150px;

}

	


.hotel-info {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	
	min-height: 152px;
}

.hotel-name {
	margin: 0;
	padding: 0;
}


.hotel-type {
	margin: 0;
	padding: 0;
}

.hotel-links {
	margin: 0;
	padding: 0;
}

.button {
	margin: 0;
	padding: 0;
	display: inline-block;
	padding: 7px 16px;
	
}

.hotel-quality {
	margin-left: auto; 
}



.main-footer {
	display: flex;
	min-height: 121px;
	align-items: center;
	
}

.visitsedona {
	padding-left: 133px;
	margin: 0;
	width: 180px;
}



	

.social-button {
  width: 45px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  background-color: #81b3d2;
  
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}



.footer-social {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 150px;
  margin-left: 212px;
  margin-right: 228px; 
}



.footer-copyright {
	display: flex;
	align-items: center;
	margin: 0;
	width: 228px;
}

.footer-copyright span {
	padding-right: 10px;
}


.footer-copyright a:hover path,
.footer-copyright a:focus path {
	fill:  #81b3d2;
}


.footer-copyright a:active path {
	fill: rgba(0,0,0, 0.3);

}



/*
.main-footer {
  min-height: 120px;
  padding: 50px;
}

.visitsedona {
  margin: 0;

  min-height: 120px;
  width: 190px;
  
}

.footer-social {
  min-height: 120px;
  width: 200px;
}

.footer-copyright {
  min-height: 120px;
  width: 240px;

}

.footer-container {
	display: flex;
	
} */
